# ===========================
# SQL Server Docker
# ===========================
SA_PASSWORD=
MSSQL_PID=

# ===========================
# Spring Boot Database
# ===========================
DB_PASSWORD=